extends includes/page.pug

block content
  h2.no-print Hey! I'm Purag.
  p.no-print I'm a software engineer at #[a(href="https://youtube.com") YouTube]. I graduated from #[a(href="http://ucsd.edu") UC San Diego] with a degree in #[a(href="http://cse.ucsd.edu") Computer Science]. My primary research interests are in programming languages (program synthesis), computability theory, and compiler construction.
  section#experience
    h3 Experience
    .card-container
      each e in experience
        if (e.show)
          +experience(e)
  section#projects
    h3 Projects
    .card-container
      each p in projects
        if (p.show)
          +experience(p)

block sidebar
  aside.sidebar
    h3.no-print Links
    p.links
      each l in links
        a(class="ext " + (!l.print ? "no-print" : "") href=l.href target="_blank") #[i(class="fa fa-fw fa-lg fa-" + l.icon)]
          span.no-print= l.text
          span.no-screen= l.print
    h3 Education
    .card-container
      +experience(education)
    h3 Languages
    p
      each l in langs
        span(class="skill skill-" + l.expertise)= l.name
    h3 Tools & Libraries
    p
      each t in tools
        span(class="skill skill-" + t.expertise)= t.name
